#gallery {
    position: absolute;
}
#gallery ul {
    height: 300px;
    position: relative;
    right: 0;
}
#gallery .row {
    width: 30px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    z-index: 9;
}
#gallery ul li {
    float: left;
}
#thumbnails {
    width: 498px;
    height: 80px;
    border: 1px solid red;
    xmargin: 0 auto;
    margin: 10px 0 0 0;
    position: relative;
    bottom: 0;
    overflow: hidden;
}
.rowthumb{
    display: block;
    cursor: pointer;
    width: 15px;
    height: 40px;
    position: absolute;
    z-index: 9;

}


#thumbnails ul{
    xwidth: 500px;
    height: 80px;
    position: relative;
    right:0;
}

.rowthumb.hide { display: none; }

#thumbnails ul li { float: left; margin: 0 0 0 10px; cursor: pointer;}
#thumbnails ul li, #thumbnails ul li img {
    height: 80px;
    width: 88px;
}

#rowl { top: 135px }
#rowr { top: 135px; right: 0 }

#thumb_rowr{background-color: green; right: 0; bottom: 24px;}
#thumb_rowl{background-color: orange; bottom: 24px;}